body {
    font-family: 'roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
body .logo{
    font-family: raleway;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}